<div class="fb-like-box" 
  data-href="https://www.facebook.com/clasesdeapoyo" 
  data-width="253" 
  data-height="300" 
  data-show-faces="true" 
  data-header="true" 
  data-stream="true" 
  data-show-border="true">
</div>