<div class="py-12 bg-slate-600 text-white">
  <div class="container mx-auto px-4">
    <div class="grid lg:grid-cols-2 gap-8">
      <div class="hidden lg:block">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.993305944504!2d-3.6796858849610725!3d40.40899907936598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42261ea9c64161%3A0xf48b257753c3d90e!2sClases+de+Apoyo!5e0!3m2!1sen!2ses!4v1536098663802" 
          frameborder="0" 
          style="border:0" 
          title="¿Dónde está Clases de Apoyo?"
          allowfullscreen
          class="w-full aspect-video"
        >
        </iframe>
      </div>
      <div>
        <h3 class="h3 text-white mb-4">Conoce nuestra academia</h3>
        <p class="p">Dir. Avenida Menéndez Pelayo 83, 1º A</p>
        <p class="p">Tel. 91 212 32 11</p>
        <p class="mb-8">Email. info@clasesdeapoyo.com</p>
        <h3 class="h3 text-white mb-4">Síguenos en redes sociales</h3>
        <p class="mb-4">
          <a class="text-white" title="Instagram" href="https://www.instagram.com/clases_de_apoyo/" target="_blank" rel="noreferrer">
            <i class="icon-instagram text-2xl mr-4 align-middle"></i> @clasesdeapoyo</p>
          </a>
        </p>
        <p class="mb-4">
          <a class="text-white" title="Youtube" href="https://www.youtube.com/channel/UC_7mMMKSQSrXrNmpVScQPJQ" target="_blank" rel="noreferrer">
            <i class="icon-youtube-play text-2xl mr-4 align-middle"></i> Clases de Apoyo
          </a>     
        </p>
        <p class="mb-4">
          <a class="text-white" title="Twitter" href="https://twitter.com/clasesdeapoyo" target="_blank" rel="noreferrer">
            <i class="icon-twitter text-2xl mr-4 align-middle"></i> @clasesdeapoyo
          </a>    
        </p>
        <p class="mb-4">
          <a class="text-white" title="Facebook" href="https://www.facebook.com/clasesdeapoyo/" target="_blank" rel="noreferrer">
            <i class="icon-facebook-square text-2xl mr-4 align-middle"></i> Clases de Apoyo
          </a>    
        </p>
      </div>
    </div>
  </div>
</div>