<div class="py-4 pl-6 bg-gray-100 border-l-2 border-l-[#EB004E]">
  <script src="https://apis.google.com/js/platform.js"></script>
  <div class="g-ytsubscribe" data-channelid="UC_7mMMKSQSrXrNmpVScQPJQ" data-layout="full" data-count="hidden"></div>
</div>
