{% extends 'container_layout.html.twig' %}

{% block metatags %}
{% set metaDescription = "Aviso legal" %}
{% set metaTitle = "Aviso legal" %}
<title>{{ metaTitle }}</title>
<meta name="description" content="{{ metaDescription }}"/>
<meta property="og:title" content="{{ metaTitle }}" />
<meta property="og:description" content="{{ metaDescription }}" />
{% endblock %}

{% block pageTitle %}
Aviso legal
{% endblock %}

{% block pageContent %}
<div class="formatted-text">
<p>Clases de Apoyo es una iniciativa de Juan Carlos Rojo y Gerardo Fernández para para ayudar al alumnado en su camino hacia el éxito en sus estudios.</p>
<p>En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico, en esta sección se exponen los datos identificativos de la empresa, así como los terminos de uso de ésta web.</p>
<h2><span style="color: #3d6d9f;">Datos de la Empresa</span></h2>
<ul><li>Nombre:&nbsp;Clases de Apoyo</li>
<li>Denominación Social:&nbsp;Juan Carlos Rojo</li>
<li>Nif / Cif:&nbsp;50303176Z</li>
<li>Domicilio Social:&nbsp;Avda. Menéndez Pelayo 83. 28007 Madrid</li>
<li>Teléfono:&nbsp;91 212 32 11</li>
<li>Email:&nbsp;<a href="mailto:clasesdeapoyo@clasesdeapoyo.com">clasesdeapoyo@clasesdeapoyo.com</a></li>
</ul><p>&nbsp;</p>
<h3><span style="color: #3d6d9f;">Propiedad Intelectual</span></h3>
<p>El código fuente, los diseños gráficos, las imágenes, las fotografías, los sonidos, las animaciones, el software, los textos, así como la información y los contenidos que se recogen en <a href="http://www.clasesdeapoyo.com">www.clasesdeapoyo.com</a> están protegidos por la legislación española sobre los derechos de propiedad intelectual e industrial a favor de&nbsp;Juan Carlos Rojo&nbsp;(en adelanteClases de Apoyo) y no se permite la reproducción y/o publicación, total o parcial, del sitio web, ni su tratamiento informático, su distribución, su difusión, ni su modificación, transformación o descompilación, ni demás derechos reconocidos legalmente a su titular, sin el permiso previo y por escrito del mismo,&nbsp;Clases de Apoyo. El usuario, única y exclusivamente, puede utilizar el material que aparezca en este sitio web para su uso personal y privado, quedando prohibido su uso con fines comerciales o para incurrir en actividades ilícitas. Todos los derechos derivados de la propiedad intelectual están expresamente reservados por&nbsp;Clases de Apoyo.&nbsp;Clases de Apoyo&nbsp;velará tanto por el cumplimiento de las anteriores condiciones como por la debida utilización de los contenidos presentados en sus páginas web, ejercitando todas las acciones civiles y penales que le correspondan en el caso de infracción o incumplimiento de estos derechos por parte del usuario.</p>
<h3><span style="color: #3d6d9f;">Protección de datos de caracter personal</span></h3>
<p>En el marco del cumplimiento de la legislación vigente, recogida en la Ley Orgánica 15/1999, de 13 de diciembre, sobre protección de Datos de Carácter Personal (LOPD), cuyo objeto es garantizar y proteger, en lo que concierne al tratamiento de los datos personales, las libertades y derechos fundamentales de las personas físicas, y especialmente de su honor e intimidad personal,&nbsp;Clases de Apoyo&nbsp;informa a los usuarios de que:&nbsp;Clases de Apoyo&nbsp;ha adoptado las medidas técnicas y organizativas conforme a lo dispuesto en la normativa vigente. Los Datos de Carácter Personal que recoge&nbsp;Clases de Apoyo&nbsp;son objeto de tratamiento automatizado y se incorporan debidamente registrados en la Agencia de Protección de Datos, cuya titularidad corresponde a&nbsp;Clases de Apoyo. La recogida y tratamiento automatizado de los Datos de Carácter Personal tiene como finalidad el mantenimiento de la relación contractual que en su caso se establezca con&nbsp;Clases de Apoyo, así como el desempeño de las tareas de información, formación, comercialización (tarea esta última siempre identificada como tal) y otras actividades propias de la empresa.&nbsp;Clases de Apoyo&nbsp;ha adoptado los niveles de seguridad adecuados a los datos que se facilitan y, además, se han instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos que nos facilitan. El usuario podrá, en todo momento, ejercitar los derechos reconocidos en la LOPD, de acceso, rectificación, cancelación y oposición.</p>
<h3><span style="color: #3d6d9f;">Varios</span></h3>
<ul><li>Clases de Apoyo&nbsp;podrá modificar, sin previo aviso, la información contenida en su sitio web, así como su configuración y presentación.</li>
<li>Clases de Apoyo&nbsp;se compromete a través de este medio a NO REALIZAR PUBLICIDAD ENGAÑOSA. A estos efectos, por lo tanto, no serán considerados como publicidad engañosa los errores formales o numéricos que puedan encontrarse a lo largo del contenido de las distintas secciones de la web de&nbsp;Clases de Apoyo, producidos como consecuencia de un mantenimiento y/o actualización incompleta o defectuosa de la información contenida es estas secciones.&nbsp;Clases de Apoyo, como consecuencia de lo dispuesto en este apartado, se compromete a corregirlo tan pronto como tenga conocimiento de dichos errores.</li>
<li>Clases de Apoyo&nbsp;se compromete a NO REMITIR COMUNICACIONES COMERCIALES SIN IDENTIFICARLAS COMO TALES, conforme a lo dispuesto en la Ley 34/2002 de Servicios de la Sociedad de la Información y de comercio electrónico. A estos efectos no será considerado como comunicación comercial toda la información que se envíe A LOS CLIENTES de&nbsp;Clases de Apoyo&nbsp;siempre que tenga por finalidad el mantenimiento de la relación contractual existente entre cliente y&nbsp;Clases de Apoyo, así como el desempeño de las tareas de información, formación y otras actividades propias del servicio que el cliente tiene contratado con la empresa.</li>
<li>Clases de Apoyo&nbsp;no se hace responsable del incumplimiento de cualquier norma aplicable en que pueda incurrir el usuario en su acceso al sitio web&nbsp;<a href="http://www.clasesdeapoyo.com&nbsp;y/o">www.clasesdeapoyo.com&nbsp;y/o</a> en el uso de las informaciones contenidas en el mismo.</li>
<li>Clases de Apoyo&nbsp;no será responsable de los daños y perjuicios producidos o que puedan producirse, cualquiera que sea su naturaleza, que se deriven del uso de la información, de las materias contenidas en este web site y de los programas que incorpora. Los enlaces (Links) e hipertexto que posibiliten, a través del sitio web&nbsp;<a href="http://www.clasesdeapoyo.com">www.clasesdeapoyo.com</a>, acceder al usuario a prestaciones y servicios ofrecidos por terceros, no pertenecen ni se encuentran bajo el control de&nbsp;Clases de Apoyo; dicha entidad no se hace responsable ni de la información contenida en los mismos ni de cualesquiera efectos que pudieran derivarse de dicha información.</li>
<li>Clases de Apoyo&nbsp;no se hace responsable del uso ilegítimo que terceras personas puedan hacer de los nombres de marca, nombres de producto, marcas comerciales que, no siendo propiedad de dicha entidad, aparezcan en el Web-Site&nbsp;<a href="http://www.clasesdeapoyo.com">www.clasesdeapoyo.com</a>. Tampoco se responsabiliza de la integridad, veracidad y licitud del contenido de los enlaces a las webs a las que pueda accederse desde&nbsp;<a href="http://www.clasesdeapoyo.com">www.clasesdeapoyo.com</a>.</li>
<li>Clases de Apoyo&nbsp;no se responsabiliza de los virus que tengan su origen en una transmisión telemática infiltrados por terceras partes (por ejemplo, los macros de procesadores de texto, los applets de Java y los programas Active X), generados con la finalidad de obtener resultados negativos para un sistema informático.</li>
<li>En definitiva, el Usuario es el único responsable del uso que realice de los servicios, contenidos, enlaces (links) e hipertexto incluidos en el sitio web&nbsp;<a href="http://www.clasesdeapoyo.com">www.clasesdeapoyo.com</a>.</li>
</ul>
</div>
{% endblock %}