<h2 class="h2 mb-8">¿Qué estoy pagando?</h2>
<h3 class="h3 mb-4">1. Acceso completo a Clases de Apoyo</h3>
<p class="mb-8">Consulta nuestra base de datos de <strong>exámenes de selectividad completa</strong> y sin restricciones y, además, accede a las <strong>soluciones</strong> de todos los problemas que te proponemos en cada tema.</p>
<h3 class="h3">2. Navega sin anuncios</h3>
<p class="mb-8">Ahora que eres un <strong>usuario premium</strong> no tiene sentido que te distraigas con los anuncios que nos permiten mantener Clases de Apoyo. ¡Así que navega sin ellos!</p>
<h3 class="h3 mb-4">3. 1 único pago = Todo un año </h3>
<p>Con este pago accederás a todas estas características durante todo un año. Eso sí, ¡no borres tu cuenta!</p>